<h3>Cuentas por Cobrar </h3>

<table class="table table-bordered">
  <thead>
  <tr>

    <th>
      Identificacion
    </th>
    <th>
      Descripcion
    </th>
    <th>
      Estado
    </th>

  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      1
    </td>
    <td>
      TB - Monthly
    </td>
    <td>
      01/04/2012
    </td>

  </tr>
  <tr class="active">
    <td>
      1
    </td>
    <td>
      TB - Monthly
    </td>
    <td>
      01/04/2012
    </td>

  </tr>
  <tr class="success">
    <td>
      2
    </td>
    <td>
      TB - Monthly
    </td>
    <td>
      02/04/2012
    </td>

  </tr>
  <tr class="warning">
    <td>
      3
    </td>
    <td>
      TB - Monthly
    </td>
    <td>
      03/04/2012
    </td>

  </tr>
  <tr class="danger">
    <td>
      4
    </td>
    <td>
      TB - Monthly
    </td>
    <td>
      04/04/2012
    </td>

  </tr>
  </tbody>
</table>
